BasedOnStyle: LLVM
PointerAlignment: Right
Standard: c++20
TabWidth: 4
UseCRLF: false
AllowShortIfStatementsOnASingleLine: Always
AllowShortFunctionsOnASingleLine: All
SpaceBeforeParens: Never
UseTab: Always
SpaceAfterCStyleCast: false