[submodule "limine/"]
    path = limine
    url = https://github.com/limine-bootloader/limine
    branch = v4.x-branch-binary

[submodule "3rdparty/limine-terminal-port/"]
    path = 3rdparty/limine-terminal-port
    url = https://github.com/V01D-NULL/limine-terminal-port

[submodule "3rdparty/fmtlib"]
    path = 3rdparty/fmtlib
    url = https://github.com/fmtlib/fmt